

.courses-section {
    margin-bottom: 50px;
    .courses__box {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;

        .box__column {
            background-color: #f1f2f3;
            padding: 20px;
            border-radius: 10px;
            width: 28%;
        }
    }

    .courses__btn {
        background-color: rgb(24, 33, 109);
        width: 100%;
        padding: 10px;
        font-size: 28px;
        border: 3px double #fff;
        height: auto;
        animation: btn_shadow infinite 0.5s alternate !important;

        &:hover {
            background-color: rgb(24, 33, 109) !important;
        }
    }
}


@keyframes btn_shadow {
    0% {
        box-shadow: 0 0 0px 0 rgb(101 33 209 / 30%);
    }
    100% {
        border-color: rgba(101,33,209,.5);
        box-shadow: 0 0 4px 6px rgb(101 33 209 / 30%);
    }
}